@font-face {
    src: url(./fonts/Norse-Bold.otf);
    font-family: logo-heading-font;
}

@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins/Poppins-Medium.ttf);
}

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

:root.light {
    --text-color: black; 
    --bg-color: rgb(240, 240, 240);
}

:root.dark {
    --text-color: white; 
    --bg-color: black;
}

:root {
    font-size: 25px;
    font-family: poppins;
}

body {
    display: flex;
    flex: row;
    background-color: var(--bg-color);
    color: var(--text-color);
}

p, div, span{
    font-size: 0.7rem;
    color: var(--text-color);
}


p + p {
    margin-top: 20px;
}

.image-sidebar {
    width: 35vw;
    height: 100vh;
    background-image: url(./images/sidebar-bg-4500x6000.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

img.logo {
    width: 60px;
    height: auto;
}

div.logo-heading {
    font-family: logo-heading-font;
    font-size: 2rem;
    color: white;
}

.sidebar-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    background-color: black;
    opacity: 0.4;

    padding: 10px 0;

    position: absolute;
    top: 50%;
}

div.content {
    width: 65vw;
}

