@font-face {
    src: url(./fonts/Norse-Bold.otf);
    font-family: logo-heading-font;
}

@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins/Poppins-Medium.ttf);
}

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

:root.light {
    --text-color: black; 
    --bg-color: rgb(240, 240, 240);
    --form-bg: white;
    --label-color: rgb(36, 36, 36);
    --form-shadow: rgb(51, 51, 51);
    --input-focus-shadow: rgb(190, 190, 190);
}

:root.dark {
    --text-color: white; 
    --bg-color: black;
    --form-bg: rgb(37, 37, 37);
    --label-color: rgb(212, 212, 212);
    --form-shadow: rgb(56, 56, 56);
    --input-focus-shadow: rgb(119, 119, 119);
}

:root {
    font-size: 25px;
    font-family: poppins;
}

body {
    display: flex;
    flex: row;
    background-color: var(--bg-color);
    color: var(--text-color);
}

p, div {
    font-size: 0.6rem;
    color: var(--text-color);
}

.image-sidebar {
    width: 35vw;
    height: 100vh;
    background-image: url(./images/sidebar-bg-4500x6000.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

img.logo {
    width: 60px;
    height: auto;
}

div.logo-heading {
    font-family: logo-heading-font;
    font-size: 2rem;
    color: white;
}

.sidebar-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    background-color: black;
    opacity: 0.4;

    padding: 10px 0;

    position: absolute;
    top: 50%;
}

div.content {
    width: 65vw;
    position: relative;
}

.text {
    padding-top: 20px;
}
.text > p {
    padding: 20px 30px 0 0;
}

.content > *:not(form) {
    padding-left: 35px;
}

form {
    padding-top: 20px;
}

.form-section {
    background-color: var(--form-bg);
    padding: 20px 0 35px 35px;
    box-shadow: 0 4px 8px var(--form-shadow);
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
}

.form-inputs > div {
    width: 400px;
    padding-top: 10px;
}

input, label {
    display: block;
    width: 75%;
}

label {
    text-transform: uppercase;
    color: var(--label-color);
    font-size: 0.6rem;
}

input {
    appearance: none;
    border: 1px rgb(116, 116, 116) solid;
    border-radius: 5px;
    height: 28px;
    padding: 5px;
    font-size: 0.6rem;
    font-family: poppins;
}

label + input {
    margin-top: 5px;
}

input:focus {
    box-shadow: 1px 1px 10px inset var(--input-focus-shadow);
}

.submit-container {
    padding: 20px 0 0 35px;
}

button {
    font-family: poppins;
    background-color: rgb(167, 2, 167);
    color: white;
    border: 1px;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(136, 0, 136);;
}

button.create-acc {
    padding: 10px 20px;
    font-size: 0.6rem;
}  

button.log-in, .theme-toggle-but {
    padding: 5px 15px;
}

.existing-user-container {
    padding-top: 25px;
    display: flex;

    align-items: center;
    gap: 10px;
}

.theme-container { 
    position: absolute;
    top: 5px;
    right: 5px;
}

span{
    position: relative;
}

.no-pw-match + span::after {
    position: absolute;
    width: 180px;
    content: "*Passwords do not match";
    font-size: 0.5rem;
    color: red;
    top: 5px;
}

@media screen and (max-width: 600px) {

    body{
      flex-direction: column;
    }
  
    .image-sidebar {
      width: 100vw;
      height: 35vh;

      background-size: cover;
      background-position: center bottom;
      position: relative;
    }
  
    
    img.logo {
      width: 35px;
      height: auto;
    }
  
    div.logo-heading {
      font-size: 1.1rem;
    }
  
    .sidebar-logo {
      padding: 5px 0;
      top: 30%;
    }
  
    div.content {
      width: 100vw;
    }

    .no-pw-match + span::after {
        width: 175px;
        top: -50px;
        left: 180px;
    }
  }